<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo 1</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <input type="text"     
            placeholder="Ingresa Usuario"
            v-model="usuario"
        >
        <input type="password" 
            placeholder="Ingresa Contraseña"
            v-model="contrasena"
        >
        <div class="Botones">
            <button
                v-on:click="Autenticar"
            >Autenticar</button>
            <button
                v-on:click="Limpiar"
            >Limpiar</button>
        </div>
        <p class="Alerta" ref="Alerta"></p>
    </div>
    <script src="index.js"></script>
</body>
</html>