#app
{
    display: flex;
    width: 100vw;
}
.Elemento
{
    width: 100px;
    min-width: 100px;
    height: 100px;
    min-height: 100px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Elemento span:nth-child(1)
{
    font-weight: bold;
    font-size: 1.5em;
}

.Elemento--azul-0
{
    background: #21c1c6;
}

.Elemento--azul-1
{
    background: #187898;
}

.Elemento--naranja
{
    background: #ff7700;
}